{
  "port": 8004,
  "appName": "order-service",
  "appEnv": "local",
  "signatureKey": "",
  "database": {
    "host": "localhost",
    "port": 5432,
    "name": "",
    "username": "",
    "password": "",
    "maxOpenConnection": 10,
    "maxLifetimeConnection": 10,
    "maxIdleConnection": 10,
    "maxIdleTime": 10
  },
  "rateLimiterMaxRequest": 1000,
  "rateLimiterTimeSecond": 60,
  "internalService": {
    "user": {
      "host": "http://localhost:8001",
      "signatureKey": ""
    },
    "field": {
      "host": "http://localhost:8002",
      "signatureKey": ""
    },
    "payment": {
      "host": "http://localhost:8003",
      "signatureKey": ""
    }
  },
  "kafka": {
    "brokers": ["localhost:9092"],
    "timeoutInMs": 100,
    "maxRetry": 3,
    "maxWaitTimeInMs": 100,
    "maxProcessingTimeInMs": 200,
    "backoffTimeInMs": 100,
    "topics": [],
    "groupID": ""
  }
}
